* {        /*Configurações padrões de início de um projeto dentro do CSS  */
    padding: 0;            
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color: darkgray;
    overflow: hidden;
    line-height: 200px;
    max-height: 200px;
}
header > h1 {
    color: black;
    font-size: 45px;

}
header > img {
    width: 200px;
    height: 180px;
}
#menu-header{
    display: flex;
    align-items: center;
}
#list-menu {
    display: flex;
    margin-right: 1rem;
}
.itens-menu-header{
    margin-right: 25px;
}
.itens-menu-header > a:hover {
    color: yellow;
    transition: 1s;
}
.itens-menu-header > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
}
.img-div{
    padding: 260px;
    background-image: url(imagens/sports-santos_fc-emblem-logo-soccer-454300.jpeg);
    background-position: center;
    background-size: 100%;
}

main > section > h2{
    margin-top: 0px;
    font-size: 36px;
    text-align: center;
    color: black;
}

#jogadores{
    background-color: beige;
    margin-top: 0;
    padding: 50px;
}

.line{
    margin: 0 auto;
    width: 20%;
}

#jogadores-list {  /* Aqui chamamos a nossa ID */ 
    display: flex; /* Resposável por colocar os itens na mesma linha (lado a lado) */
    align-items: center; /* Alinhar os itens para o centro */
    justify-content: space-evenly; /* Tradução:justificar-conteúdo: espaço uniformemente. Alinhar os itens igualmente dentro da página */
    margin-top: 30px; /* indica o espaço acima do elemento / superior */
}

.jogadores-item{ /* Aqui chamamos nossa Class que está dentro da nossa ID */
    display: flex; /* Responsável por colocar os itens na mesma linha (lado a lado) */
    justify-content: center; /* Justificar-conteúdo no centro */
    align-items: center; /* Alinhar os itens para o centro */
    flex-direction: column; /*  */
}
.jogadores-joao > img { /* Aqui chamamos nossa TAG IMG para estilização  */
    width: 230px; /* Largura */
    height: 200px; /* Tamanho */
}

.jogadores-item > img { /* Aqui chamamos nossa TAG IMG para estilização  */
    width: 230px; /* Largura */
    height: 200px; /* Tamanho */
}

.jogadores-item > h3{ /* Aqui chamamos nosso H3 para estilizar*/
    font-family: 'Dancing script', cursive; /* Fonte escolhida */
    font-size: 32px;/* Tamanho da fonte*/
    align-items: center;  /* Alinhar os itens para o centro */
    margin-top: 10px; /* indica o espaço acima do elemento / superior */
}

.jogadores-item > p {
    font-family: 'Dancing script', cursive; /* Fonte escolhida */
    font-size: 26px;/* Tamanho da fonte*/
    align-items: center;  /* Alinhar os itens para o centro */
    margin-top: 10px; /* indica o espaço acima do elemento / superior */
} 

.img-div2{
    padding: 260px;
    background-image: url(imagens/img.div2.jpeg);
    background-position: center;
    background-size: 100%;
}

#sobre-nos { /* Chamamos aqui nossa ID */
    background-color: beige;
    background-repeat: no-repeat; /* Aqui colocamos a função para a imagem não seja repetida */
    background-attachment: fixed; /* */
    background-position: center; /* Na posição da imagem colocamos ao centro */
    background-size: cover; /* */
    padding: 120px; /* */
}
 
#sobre-nos > h3 {  /* */
    color: rgb(0, 0, 0); /* */
    font-size: 64px; /* */
    text-align: center; /* */
    font-family: 'Ubuntu', 'sans-serif'; /* */
}

#sobre-nos >  p {   /* */ 
    font-family: 'Ubuntu', 'sans-serif'; /* */
    font-weight: 500; /* */
    color: rgb(0, 0, 0); /* */
    font-size: 22px; /* */
    margin-top: 2em; /* */
    text-align: left; /* */
    
}
.img-div3{
    padding: 260px;
    background-image: url(imagens/Sala\ de\ trofeus.jpg);
    background-position: center;
    background-size: 100%;
}

.img-div4{
    padding: 260px;
    background-image: url(imagens/img-div3.jpeg);
    background-position: center;
    background-size: 100%;
}

#titulos { /* Chamamos aqui nossa ID */
    background-color: beige;
    background-repeat: no-repeat; /* Aqui colocamos a função para a imagem não seja repetida */
    background-attachment: fixed; /* */
    background-position: center; /* Na posição da imagem colocamos ao centro */
    background-size: cover; /* */
    padding: 120px; /* */
}
 
#titulos > h3 {  /* */
    color: rgb(0, 0, 0); /* */
    font-size: 64px; /* */
    text-align: center; /* */
    font-family: 'Ubuntu', 'sans-serif'; /* */
}

#titulos >  p {   /* */ 
    font-family: 'Ubuntu', 'sans-serif'; /* */
    font-weight: 500; /* */
    color: rgb(0, 0, 0); /* */
    font-size: 22px; /* */
    margin-top: 2em; /* */
    text-align: left; /* */
    
}

footer {    /* */
    padding: 80px;  /* */
    background-color: beige;
    background-position: bottom;  /* */
    background-repeat: no-repeat;  /* */
    
}

footer > ul {   /* */
    display: flex;  /* */
    justify-content: space-evenly;  /* */
}

footer > h2 {  /* */
    color: black bold; /* */
    font-size: 40px;  /* */
    font-weight: bold;  /* */
    text-align: center;  /* */
    margin-bottom: 1em;  /* */
}

.item-menu-footer {  /* */
    display: flex;  /* */
    align-items: center;  /* */
    margin-top: 30px;  /* */
}

.item-menu-footer > img {  /* */
    width: 34px;  /* */
    height: 34px;  /* */
}

.item-menu-footer > p {  /* */
    color: black bold; /* */
    font-size: 24px; /* */
    font-weight: bold; /* */
    margin-left: 10px; /* */
}